<li class="item">
    <header class="pad-med">
        <h2>{{name}}</h2>
    </header>

    <main class="align-centre">

        <img class="img-thumb" src="{{imgUrl}}" alt="Accommodation Picture">

    </main>

    <footer class="align-centre pad-med">
        <p>City: <strong>{{city}}</strong></p>
        <p>Price: <strong>${{price}}</strong></p>
        <a class="action" href="/catalog/{{_id}}">See datails</a>
    </footer>
</li>